* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.conteiner {
    width: 1110px;
    margin: 0 auto;
}
.wrapper1 {
    background: #EEEFF1;
}
.header {
    padding-top: 71px;
    padding-bottom: 73px;
    .logo {
        float: left;
    }
    .menu {
        float: right;
        margin-top: 8px;
        .link {
            letter-spacing: 0.1em;
            text-decoration: none;
            text-transform: uppercase;
            color: #000000;
            margin-left: 41px;
            &:hover{
                color: #34547A;
            }
        }
    }
}
.wrapper2 {
    background: #F9F9F9;
}
.design {
    padding-top: 85px;
    padding-bottom: 165px;
    &-img {
        float: left;
        padding-top: 15px;
    }
    &_article {
        float: right;
        width: 540px;
        margin-left: 30px;
        &-title {
            font-size: 48px;
            font-weight: bold;
            line-height: 79px;
            color: #000000;
            padding-bottom: 54px;
        }
        &-text {
            color: #727272;
            padding-bottom: 82px;
        }
        &-btn {
            letter-spacing: 0.1em;
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
            background: #34547A;
            padding: 22px 44px;
        }
    }
}
.work {
    padding-top: 55px;
    padding-bottom: 95px;
    &-title {
        font-size: 48px;
        font-weight: bold;
        line-height: 56px;
        text-align: center;
        color: #000000;
        padding-bottom: 33px;
    }
    &-text {
        text-align: center;
        color: #727272;
        width: 540px;
        margin: 0 auto;
        padding-bottom: 57px;
    }
}
.example {
    padding-top: 140px;
    padding-bottom: 86px;
    &-img {
        margin-right: 30px;
        margin-bottom: 30px;
        float: left;
    }
}
.mr-0 {
    margin-right: 0;
}
.wrapper3 {
    background: #34547A;
}
.footer {
    padding-top: 42px;
    padding-bottom: 38px;
    &-left {
        float: left;
        &-title {
            font-weight: bold;
            font-size: 21px;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 18px;
        }
        &-text {
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            color: #FFFFFF;
        }
    }
    &-right {
        float: right;
        a {
            margin-left: 32px;
        }
    }
}